html {
    background:aquamarine;
}
#title {
    font-size: 3rem;
    margin: 0%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color:azure;
}
.title-border {
    color: white;
    text-shadow:
    -1px -1px 0 #000, /**top left**/
    1px -1px 0 #000, /**top right**/
    -1px 1px 0 #000, /**bottom left**/
    1px 1px 0 #000;  /**bottom right**/
}
#board {
    background:transparent;
}
.center {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.none {
    fill: transparent;
}
.playerone {
    fill: crimson;
}
.playertwo {
    fill:dodgerblue;
}